Django>=2.1
django-cors-headers>=2.2.0
djangorestframework>=3.8.2
djangorestframework-simplejwt>=3.2.3
docutils>=0.14
psycopg2-binary>=2.7.4
coreapi>=2.3.3
celery>=4.2.0
celery[redis]
redis>=2.10.6
iso8601>=0.1.12
requests==2.18.4
