<!DOCTYPE html>
<html {% block htmlattrs %}{% endblock %}>
  <head>
  {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}
  </head>

  <body {% block bodyattrs %}{% endblock %}>
  {% block body %}
    {% block header %}
    {% endblock %}
    {% block search %}
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
    {% block extra %}
    {% endblock %}
  {% endblock %}
  </body>
</html>
